[submodule "components/LinearMath"]
	path = components/LinearMath
	url = https://github.com/betonildo/LinearMath.git
	branch = master
[submodule "components/Memallocator"]
	path = components/Memallocator
	url = https://github.com/betonildo/Memallocator.git
	branch = master
[submodule "components/UnityDefinitions"]
	path = components/UnityDefinitions
	url = https://github.com/betonildo/UnityDefinitions.git
	branch = master
[submodule "components/LTL"]
	path = components/LTL
	url = https://github.com/betonildo/LTL.git
	branch = master